extends layout

block content
  #content
    h1 Un Cordobes en Berlin
    h2 Experiencia de un cordobes viviendo en Berlin.
    p Hola, soy Maxi un cordobes radicado de momento en la ciudad de Berlin. Intentare por este medio compartir mis impresiones y sensaciones de la capital alemana siempre contraponiendola con nuestra querida Docta.. Tratare de comparar esas pequeñas cosas y momentos que hacen a la vida cotidiana de estas dos urbes con sus distintas particularidades. ***SITIO MOMENTANEAMENTE EN CONSTRUCCION*** 
