extends layout

block content
  h1 Un Cordobes en Berlin
  h2 Experiancia de un cordobes viviendo en Berlin.
  p Hola soy Maxi, este es mi blog, nace con el doble proposito de aprender diseno web e informar a mis seres queridos de mi experiencia al otro lado del charco... 
  
    a(href='/post1') post1
