extends layout

block content
  #content
    h1 HABITACIONES INDIVIDUALES UNC CORDOBA (0351) 460-7907 / 153-247596
    h2 Residencia Universitaria en Cordoba.

    p Alquilo Habitaciones INDIVIDUALES a 6 cuadras de CIUDAD 
      | UNIVERSITARIA. Las habitaciones se encuentran amuebladas (cama, 
      | colchon, escritorio, placard, etc.). La casa esta equipada y en 
      | todo el lugar hay señal WIFI. El lugar tiene mucho patio con 
      | mucho espacio abierto. El bº tiene mucho verde (la casa da a un 
      | gran parque) y es muy tranquilo (ideal para estudiar) SOLO 
      | ESTUDIANTES TRANQUILOS. Cualquier Consulta a los telefonos o al 
      | email: habitacionescordoba@gmail.com 
    
    img.fotoportada(src="/img/casa1.jpg")

    img.fotoportada(src="/img/casa3.jpg")

    img.fotoportada(src="/img/casa4.jpg")

    img.fotoportada(src="/img/casa2.jpg")

