extends layout
block content
  h1 Frases Populares
  p Saludo de Despedida:
    BERLIN: "Nos vemos Doctor!" (Hauste rinn Atze)                  
    CORDOBA: "Chau nero culiao"
    
    Comentar belleza femenima
    BERLIN: "Oh mira esa mujer hermosa!" (“Kiek ma – die Olle da druehm!”)
    CORDOBA: "Ta ma buena q comer flan con la mano"
